<ul class="navbar-nav">
@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="">@User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-controller="Account" asp-action="Logout">
            <a style="cursor: pointer" onclick="document:logoutForm.submit()" class="nav-link text-dark">退出</a>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">登录</a>
    </li>
}
</ul>
